---
---


@import "{{ site.theme }}"; 

header {
width: 100%; 
float: none;
position: unset; 

display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 2rem;
}

section{
width: auto; 
float: none; 
}

footer{
float: none; 
position: unset;
width: auto;
}
